{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}

    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="container">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Team!</h1>
    </div>
    <div class="container">
        <div class="row">
            <a href="{{ path('team_create') }}" class="btn btn-success">{{ 'Create'|trans }}</a>
        </div>
        <h2>{{ 'My teams'|trans }}</h2>
        {% if teams%}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col">{{ 'Count'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for key, team in teams %}
                    <tr>
                        <th scope="row">{{ key+1 }}</th>
                        <td><a href="{{ path('team_edit', {id:team.id}) }}">{{ team.name }}</a></td>
                        <td>{{ team.users|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        {% endif %}
    </div>
{% endblock %}