{% extends 'base.html.twig' %}

{% block styles %}
    {{ parent() }}

    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ 'Meeting'|trans }} {{ meeting.createdAt|date('d.m.Y') }}!</h1>
    </div>

    <div class="container">
        {% if meeting.isClosed == false and is_granted('MEETING_EDIT', meeting) %}
            <a href="{{ path('meeting_close', {id:meeting.id}) }}" class="btn btn-warning">
                {{ 'Close'|trans }}
            </a>
        {% endif %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped {% if meeting.isClosed %}table-dark{% endif %}">
            <thead>
            <tr>
                <th scope="col">{{ 'User'|trans }}</th>
                <th scope="col">{{ 'What Yesterday'|trans }}</th>
                <th scope="col">{{ 'What Today'|trans }}</th>
                <th scope="col">{{ 'What Problem'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for attendee in meeting.attendees %}
                <tr>
                    <th scope="row">
                        {% if app.user.id == attendee.user.id %}
                            ✅
                        {% endif %}
                        <a href="{{ path('meeting_attendee_edit', {hash: attendee.hash}) }}">{{ attendee.user.email }}</a>
                    </th>
                    <td>{{ attendee.whatYesterday }}</td>
                    <td>{{ attendee.whatToday }}</td>
                    <td>{{ attendee.whatProblem }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}